---
---
<footer class="max-w-5xl mx-auto px-6 py-8 md:py-12 border-t border-zinc-100 flex flex-col items-center">
  <p class="text-sm text-zinc-400">
    <a href="/">© 2026 sitecue. All rights reserved.</a>
  </p>
</footer>
